body {
  margin: 0
}

.header {
  width: 100%;
  height: 22em;
}

.header img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2;
}

.hi {
  font-size: 3em;
  background-color: transparent;
  margin: 0;
  padding: 2em 0em 0em 1em;
  color: #EDEBBB;
  position: absolute;
  top: -1px;
  font-family: 'Patrick Hand SC', cursive;
  font-weight: 100;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #4f5555;
  width: 100%;
  z-index: 1;
  position: fixed;
  box-shadow: 0px 2px 2px #888888;
}

.navbar a {
  text-decoration: none;
  margin: .15em 2em .15em 0em;
  font-size: 2em;
  color: #EDEBBB;
  animation: links infinite 10s linear;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 8px #bebc85;
}

.navbar a:hover {
  color: #f67052;
}

@keyframes links {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.aboutme {
  height: 40em;
  background-color: #92B9BD;
}

.aboutme h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  text-shadow: 2px 2px 3px #737370;
  padding: 1em 0em 0em .75em;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about img {
  margin: 2em 1em 5em 1em;
}

.about p {
  width: 28em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-right: 1.5em;
  font-family: 'Josefin Slab', serif;
}

.projects {
  background-color: #12110E;
  padding-bottom: 4em;
}

.projects h1 {
  margin: 0;
  padding: 1em 0em 0em .75em;
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  text-shadow: 2px 1px 3px #abaa8a;
  color: #EDEBBB;
}

.project a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4em 2em 0em 2em;
  opacity: .5;
}

.project a:hover {
  opacity: 1;
}

.project img {
  /*margin-left: 4em;*/
  margin: 0em 1em 0em 4em;
}

.project p {
  width: 28em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #EDEBBB;
  font-family: 'Josefin Slab', serif;
}

.icons {
  background-color: #92B9BD;
  height: 25em;
}

.first-row {
  margin: 0;
  padding: 3em 0em 2em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.icons li i {
  font-size: 4em;
  padding: .1em;
}

.icons span {
  color: #92B9BD;
  font-size: 1.5em;
  padding-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.icons li:hover {
  background-color: #5f6363;
  color: black;
  transition: background-color .5s, color .5s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.icons span:hover {
  color: #EDEBBB;
  transition: background-color .5s, color .5s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.contact {
  height: 26em;
  background-color: #12110E;
  color: #EDEBBB;
}

.contact p {
  margin: 0;
  padding: 1em 0em 2em 1em;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 2px 1px 2px #abaa8a;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #EDEBBB;
}

.links a:hover {
  transform: translateY(-.75em);
  transition: all 200ms ease-in-out
}

.links a i {
  font-size: 4em;
  margin-bottom: .25em;
}

.links img {
  width: 4em;
  margin-bottom: 1em;
}

.links span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

/**** Tablet Styles ***********************************/

@media (min-width: 750px) {
  
}
