body {
  margin: 0
}

.header {
  width: 100%;
  height: 22em;
  background-image: url('../images/yellow3.jpg');
  background-size: cover;
}

.header img {
  width: 9em;
  height: auto;
  margin: 5em 0em 0em 3em;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #12110E;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navbar a {
  text-decoration: none;
  margin: .15em 2em .15em 0em;
  font-size: 2em;
  color: #E9E9EB;
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 8px #8b8b85;
}

.navbar a:hover {
  color: #f67052;
}

.aboutme {
  height: 33em;
  background-color: #E9E9EB;
}

.aboutme h1 {
  margin: 0em 0em .5em 0em;
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  text-shadow: 2px 2px 3px #8b8b85;
  padding: 1em 0em 0em .75em;
  color: #12110E;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about img {
  margin: 2em 1em 5em 1em;
}

.about p {
  width: 28em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #12110E;
  margin-right: 1.5em;
  font-family: 'Josefin Slab', serif;
}

.projects {
  background-color: #12110E;
  padding-bottom: 4em;
}

.projects h1 {
  margin: 0;
  padding: 1em 0em 0em .75em;
  font-family: 'Josefin Slab', serif;
  font-size: 3em;
  text-shadow: 2px 1px 3px #8b8b85;
  color: #E9E9EB;
}

.project a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #E9E9EB;
  padding-bottom: 3.5em;
  margin: 4em 1em 0em 1em;
  opacity: .5;
  filter: grayscale(100%);
}

.project a:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.project img {
  margin: 0em 1em 0em 0em;
  height: 18em;
  width: auto;
}

.projSections {
  width: 35em;
  color: #E9E9EB;
  font-family: 'Josefin Slab', serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.projTitle {
  font-size: 2.5em;
  margin: 0;
  font-weight: bolder;
}

.projDescrip {
  font-size: 1.5em;
}

.languages {
  font-family: 'Josefin Slab', serif;
  color: #E9E9EB;
  font-size: 2.5em;
  text-shadow: 2px 1px 2px #8b8b85;
  margin: 0;
  padding: 1em 0em 0em 1em;
}

.icons {
  background-color: #21201b;
  height: 32em;
}

.first-row {
  margin: 0;
  padding: 3em 0em 2em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
}

.icons li i {
  font-size: 4em;
  padding: .1em;
  color: #E9E9EB;
}

.icons span {
  color: #21201b;
  font-size: 1.5em;
  padding-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.icons li:hover {
  background-color: #5f6262;
  color: #E9E9EB;
  transition: background-color .5s, color .5s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.icons span:hover {
  color: #EDEBBB;
  transition: background-color .5s, color .5s;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}

.contact {
  height: 26em;
  background-color: #E9E9EB;
  color: #12110E;
}

.contact p {
  margin: 0;
  padding: 1em 0em 2em 1em;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 2px 1px 2px #8b8b85;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2.5em;
  margin-bottom: 4em;
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #12110E;
}

.links a:hover {
  transform: translateY(-.75em);
  transition: all 200ms ease-in-out
}

.links a i {
  font-size: 4em;
  margin-bottom: .25em;
}

.links img {
  width: 4em;
  margin-bottom: 1em;
}

.links span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}

/**** Tablet Styles ***********************************/

@media handheld, screen and (max-width: 750px) {

  .header {
    width: 100%;
    z-index: -2;
    background-image: url('../images/yellow3.jpg');
    background-size: cover;
  }

  .header img {
    width: 6em;
    height: auto;
    margin: 5em 0em 0em 3em;
  }

  .navbar {
    display: flex;
    justify-content: center;
    background-color: #12110E;
    width: 100%;
    z-index: 1;
    position: fixed;
  }

  .navbar a {
    text-decoration: none;
    margin: .15em 1em .15em 1em;
    font-size: 1.5em;
    color: #E9E9EB;
    font-family: 'Josefin Slab', serif;
    font-weight: 100;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 1px 8px #8b8b85;
  }

  .aboutme {
    height: 48em;
    background-color: #12110E;
  }

  .aboutme h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    text-shadow: 2px 2px 3px #8b8b85;
    padding: .5em 0em 0em .75em;
    margin: 0em 0em .75em 0em;
    color: #E9E9EB;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about img {
    margin: 1em 1em 1em 1em;
    padding-bottom: 1em;
    width: 18em;
    height: auto;
  }

  .about p {
    margin: 0;
    width: 15em;
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
    color: #E9E9EB;
  }

  .projects {
    background-color: #E9E9EB;
    padding-bottom: 4em;
  }

  .projects h1 {
    margin: 0;
    padding: .5em 0em 0em .75em;
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    text-shadow: 2px 1px 3px #8b8b85;
    color: #12110E;
  }

  .project a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #12110E;
    margin: 4em 2em 0em 2em;
    padding-bottom: .5em;
    opacity: 1;
    filter: none;
  }

  .project img {
    margin: 0em 0em 1em 0em;
    width: 18em;
    height: auto;
  }

  .projSections {
    width: 25em;
    color: #12110E;
    font-family: 'Josefin Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projTitle {
    font-size: 2.5em;
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  .projDescrip {
    font-size: 1.5em;
  }

  .icons {
    background-color: #12110E;
    height: 45em;
  }

  .icons ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .first-row {
    margin: 0;
    padding: 1em 0em 0em 0em;
  }

  .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .icons li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: none;
    border-radius: 10px;
  }

  .icons li i {
    font-size: 4em;
    padding: .1em;
    color: #E9E9EB;
  }

  .icons span {
    color: #12110E;
    font-size: 1.5em;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .icons li:hover {
    background-color: none;
    color: black;
    transition: none;
    transition-timing-function: none;
  }

  .icons span:hover {
    color: #EDEBBB;
    transition: background-color .5s, color .5s;
    transition-timing-function: ease-in-out;
    border-radius: 10px;
  }

  .contact {
    height: 20em;
    background-color: #E9E9EB;
    color: #12110E;
  }

  .contact p {
    margin: 0;
    padding: 1em 0em 1em 1em;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 2.5em;
    text-shadow: 2px 1px 2px #8b8b85;
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #EDEBBB;
  }

  .links a:hover {
    transform: none;
    transition: none;
  }

  .links a i {
    font-size: 4em;
    margin-bottom: .25em;
    color: #12110E;
  }

  .links img {
    width: 4em;
    margin-bottom: 1em;
  }

  .links span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #12110E;
  }

}

/**** Mobile Styles ***********************************/

@media handheld, screen and (max-width: 440px) {

  .header {
    width: 100%;
    z-index: -2;
    background-image: url('../images/yellow3.jpg');
    background-size: cover;
  }

  .header img {
    width: 6em;
    height: auto;
    margin: 3em 0em 0em 3em;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    position: fixed;
  }

  .navbar a {
    width: 5em;
    text-decoration: none;
    text-align: center;
    margin: .07em;
    padding: .05em .15em .05em .15em;
    font-size: 1em;
    background-color: #12110E;
    border: 1px solid #5f6361;
    border-radius: 3px;
    color: #E9E9EB;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    transition: all 0.2s ease-in-out;
    text-shadow: 0 1px 8px #8b8b85;
  }

  .aboutme {
    height: 44em;
    background-color: #12110E;
  }

  .aboutme h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    text-shadow: 2px 2px 3px #8b8b85;
    padding: .5em 0em 0em 0em;
    margin: 0em 0em .5em 0em;
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about img {
    margin: 1em 1em 1em 1em;
    width: 12em;
    height: auto;
  }

  .about p {
    margin: 0;
    width: 12em;
    font-size: 1.5em;
    font-family: 'Josefin Slab', serif;
  }

  .projects {
    background-color: #E9E9EB;
    padding-bottom: 4em;
  }

  .projects h1 {
    margin: 0;
    padding: .5em 0em 0em 0em;
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    text-shadow: 2px 1px 3px #8b8b85;
    color: #12110E;
    text-align: center;
  }

  .project a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #12110E;
    margin: 2em 2em 0em 2em;
    padding-bottom: .5em;
    opacity: 1;
  }

  .project img {
    margin: 0em 0em 1em 0em;
    width: 12em;
    height: auto;
  }

  .projSections {
    width: 13em;
    color: #12110E;
    font-family: 'Josefin Slab', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projTitle {
    font-size: 2.5em;
    margin: 0;
    font-weight: bolder;
    text-align: center;
  }

  .projDescrip {
    font-size: 1.5em;
  }


  .icons {
    background-color: #12110E;
    height: 40em;
  }

  .icons ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .first-row {
    margin: 0;
    padding: 1em 0em 0em 0em;
  }

  .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .icons li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2em;
    background-color: none;
    border-radius: 10px;
  }

  .icons li i {
    font-size: 3.5em;
    padding-top: .2em;
    color: #E9E9EB;
  }

  .icons span {
    color: #12110E;
    font-size: 1.5em;
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }

  .icons li:hover {
    background-color: none;
    color: black;
    transition: none;
    transition-timing-function: none;
    /*border-radius: 10px;*/
  }

  .icons span:hover {
    color: #E9E9EB;
    transition: none;
    transition-timing-function: none;
    border-radius: 10px;
  }

  .contact {
    height: 25em;
    background-color: #E9E9EB;
    color: #12110E;
  }

  .contact p {
    margin: 0;
    padding: .5em .5em .2em .5em;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 2.5em;
    text-shadow: 2px 1px 2px #8b8b85;
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: .75em;
  }

  .links a:hover {
    transform: none;
    transition: none;
  }

  .links a i {
    font-size: 4em;
    margin-bottom: .25em;
    color: #12110E;
  }

  .links img {
    width: 4em;
    margin-bottom: 1em;
  }

  .links span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
  }

}
